<a href="https://colab.research.google.com/github/HopeRetina/hope_play/blob/main/hope_play_pandas_tricks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'date':
    pd.date_range(start='2021-11-20',
                  periods=100,
                  freq='D'),
    'class': 
    ['A', 'B', 'C', 'D'] * 25,
    'amount':
    np.random.randint(10, 100, size=100)
})

df.head()

        date class  amount
0 2021-11-20     A      82
1 2021-11-21     B      16
2 2021-11-22     C      44
3 2021-11-23     D      91
4 2021-11-24     A      98

##To_period

In [3]:
df['month'] = df['date'].dt.to_period('M')
df['quarter'] = df['date'].dt.to_period('Q')

df.head()

        date class  amount    month quarter
0 2021-11-20     A      82  2021-11  2021Q4
1 2021-11-21     B      16  2021-11  2021Q4
2 2021-11-22     C      44  2021-11  2021Q4
3 2021-11-23     D      91  2021-11  2021Q4
4 2021-11-24     A      98  2021-11  2021Q4

In [4]:
df['month'].value_counts()

2021-12    31
2022-01    31
2022-02    27
2021-11    11
Freq: M, Name: month, dtype: int64

##2. Cumsum and groupby

In [5]:
df['cumulative_sum'] = df['amount'].cumsum()

df.head()

        date class  amount    month quarter  cumulative_sum
0 2021-11-20     A      82  2021-11  2021Q4              82
1 2021-11-21     B      16  2021-11  2021Q4              98
2 2021-11-22     C      44  2021-11  2021Q4             142
3 2021-11-23     D      91  2021-11  2021Q4             233
4 2021-11-24     A      98  2021-11  2021Q4             331

In [6]:
df['class_cum_sum'] = df.groupby('class')['amount'].cumsum()

In [7]:
df[df['class'] == 'A'].head()

         date class  amount    month quarter  cumulative_sum  class_cum_sum
0  2021-11-20     A      82  2021-11  2021Q4              82             82
4  2021-11-24     A      98  2021-11  2021Q4             331            180
8  2021-11-28     A      48  2021-11  2021Q4             572            228
12 2021-12-02     A      53  2021-12  2021Q4             850            281
16 2021-12-06     A      57  2021-12  2021Q4            1163            338

##3.Categorical data type

In [8]:
df.dtypes

date              datetime64[ns]
class                     object
amount                     int64
month                  period[M]
quarter            period[Q-DEC]
cumulative_sum             int64
class_cum_sum              int64
dtype: object

In [9]:
# Now replicate the class column but with the "category" data type

df['class_cat'] = df['class'].astype('category')

df.dtypes

date              datetime64[ns]
class                     object
amount                     int64
month                  period[M]
quarter            period[Q-DEC]
cumulative_sum             int64
class_cum_sum              int64
class_cat               category
dtype: object

In [10]:
df.memory_usage()

Index             128
date              800
class             800
amount            800
month             800
quarter           800
cumulative_sum    800
class_cum_sum     800
class_cat         304
dtype: int64

The class_cat column consumes much less memory than the class col.